:root {
    --cor-fundo: #1483e3;
    --cor-principal: #19237e;
    --cor-secundaria: #2e3354;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;


}
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto)
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{ 
background-color: var(--cor-principal);
width: 90%;
text-align: center;
padding: 20px;
}

